body{
    background-color: rgb(64, 64, 65);
}
h1{
    color: rgb(47, 12, 92);
}
h2{
    color: rgb(47, 12, 92);
}
p{
    color: rgb(0, 0, 0);
}
h3{
    color: rgb(47, 12, 92);
}
dt{
    color: rgb(47, 12, 92);
}
small{
    color: rgb(2, 217, 255);
}